<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./pathing/links %>
</head>
<body>
    <% include ./partials/navbar %>

    <div class="homeImg">
        <img src="/public/images/pizza-3007395_1280.jpg" alt="">
    </div>

    <section id="story">
        <div class="container">
            <h1 class="display-4 text-white" id="origem">Sobre mim</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida ipsum sed quam bibendum, id malesuada nisi volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet blandit sem. Nullam venenatis, ligula laoreet blandit posuere, dui lectus faucibus libero, ac ullamcorper orci massa id lorem. Donec rutrum tristique risus, nec posuere sem dignissim sed. Sed et eleifend ipsum. Donec at ipsum eleifend, aliquet sapien sit amet, commodo neque. Suspendisse lacus tortor, congue eget cursus sed, tempor sed arcu. Donec a turpis nec tellus posuere condimentum non vitae magna. Sed aliquet, enim sed lacinia dignissim, turpis enim fringilla orci, quis venenatis velit nunc in urna. Curabitur nec posuere neque, ut gravida libero. Proin ac quam nisi. Nunc sodales ex sed congue commodo. Nam in nisl et odio laoreet malesuada placerat et mauris. Vestibulum dictum urna vitae lacus posuere tempus. Aliquam vitae diam dui.</p>
            <div class="row skills">
                <div class="col-sm-3">
                    <h3 class="display-4">JavaScript</h3>
                    <ul>
                        <li>Front-End scripting</li>
                        <li>Jquery</li>
                        <li>NodeJs</li>
                        <ul>
                            <li>Express</li>
                            <li>Middlewares</li>
                            <li>Nodemailer</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-sm-3">
                        <h3 class="display-4">Web</h3>
                        <ul>
                            <li>HTML5</li>
                            <li>EJS</li>
                            <li>CSS3</li>
                            <ul>
                                <li>BootStrap 4</li>
                            </ul>
                        </ul>
                    </div>
                <div class="col-sm-3">
                    <h3 class="display-4">Java OOP</h3>
                    <ul>
                        <li>Orientação objeto</li>
                        <li>Interface GUI</li>
                        <li>Conecxão c/ banco de dados</li>
                        <ul>
                            <li>JPA</li>
                            <li>Hibernate</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="display-4">BDs</h3>
                    <ul>
                        <li>Mysql</li>
                        <li>MongoDB</li>
                        <li>SQLserver</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="Contato">

        <div class="container">
                <h1 class="display-4 mt-5">Contato</h1>
                <form>
                    <div class="form-group mt-5">
                        <label for="remetente">E-mail</label>
                        <input type="email" name="remetente" class="form-control">
                        <label for="assunto">Assunto</label>
                        <input type="text" name="assunto" class="form-control">
                        <label for="corpo">Menssagem</label>
                        <textarea name="corpo" class="form-control" id="" cols="30" rows="7" placeholder=". . ."></textarea>
                        <button type="submit" class="btn bg-primary text-white mt-3">Enviar</button>
                    </div>
                </form>
        </div>

    </section>

    <% include ./pathing/cdnFiles %>
</body>
</html>